
/*导航栏*/
.navbar{
    margin-bottom: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 300px;
}

.navbar-brand>img {
    margin-top: -10px;
    width: 70px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f8f8f8;
}

.navbar-form {
    position: absolute;
    margin-left: 1100px;
    margin-top: -40px;
}

.navbar-form>.form-group>.form-control{
    font-size: 13px;
    height: 30px;!important;
}

.navbar-form>.btn-default{
    height: 30px;
    font-size: 13px;
    font-weight: 600;
    color: #777;
}

.enter{
    position: absolute;
    margin-left: 1680px;
    margin-top: -50px;
}

/*body背景图*/
.bodyImg>img{
    position: absolute;
}

.bodyImgBody{
    margin-top:300px;
}

/*body左侧列表*/
.bodyLeft{
    position: absolute;
    width: 220px;
    height: 285px;
    margin-top: 330px;
    margin-left: 420px;
}

.colorWh{
    color: white;!important;
}



/*body轮播图*/
.lunBo{
    position: absolute;
    margin-top: 330px;
    margin-left: 680px;
    width: 522px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 16px;
}

.carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.carousel-indicators .active{
    margin: 1px;
    width: 8px;
    height: 8px;
}



/*body右侧*/
.bodyRight{
    position: absolute;
    width: 250px;
    height: 36px;
    margin-top: 330px;
    margin-left: 1240px;
    border-bottom: 3px solid #a4d7f5;
}

.bodyRightSpan{
    margin-top: -3px;
    font-size: 18px;
    float: left;
    line-height: 36px;
    font-weight: 800;
    border-bottom: 3px solid #1d7aae;
}

.bodyRightA{
    margin-top: 8px;
    font-size: 12px;
    float: right;
}


/*body右侧下*/
.bodyRightDow{
    background-color: white;
    position: absolute;
    width: 250px;
    height: 278px;
    margin-top: 378px;
    margin-left: 1240px;
}

.bodyRightDow>ul>li{
    height: 31px;
    border: none;
}

.bodyRightDow>ul>li>a{
    font-size: 12spx;
}


/*body底部*/
.bodyDow{
    background-color: white;
    position: absolute;
    width: 781px;
    height: 350px;
    margin-top: 688px;
    margin-left: 420px;
}

/*文字介绍*/
.bodyDowSug{
    position: absolute;
    width: 287px;
    height: 350px;
    background-color: #a4d7f5;
}

.bodyDowSug>div{
    margin-top: 10px;
}


.bodyDowSug>div>em{
    font-size: 32px;
    font-weight: 700;
    color: #0061a4;
    margin-left: 15px;
}

.bodyDowSug>div>span{
    font-weight: 700;
    font-size: 20px;
}

.bodyDowSug>div>p{
    text-indent:25px;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.bodyDowSug>div>img{
    margin-top: 11px;
}

/*内容选择*/

.bodyDowCl{
    position: absolute;
    margin-left: 295px;
    margin-top: 5px;
    width: 581px;
    height: 50px;
}

/*内容展示*/
.bodyDowShow{
    width: 480px;
    height: 200px;
    margin-top: 60px;
    margin-left: 295px;
}

/*第一个*/
.bodyDowShowOne{
    position: absolute;
}

.bodyDowShowOne>img{
    position: absolute;
    width: 120px;
}

.bodyDowShowOne>div{
    position: absolute;
    width: 300px;
    margin-left: 140px;
    margin-top: -5px;
}

.bodyDowShowOne>div>em{
    font-size: 30px;
    font-weight: 700;
    color: #0061a4;
    margin-left: 15px;
}

.bodyDowShowOne>div>span{
    font-weight: 700;
    font-size: 18px;
}

.bodyDowShowOne>div>p{
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

/*第二个*/
.bodyDowShowTwo{
    margin-top: 100px;
    position: absolute;
}

.bodyDowShowTwo>img{
    position: absolute;
    width: 120px;
}

.bodyDowShowTwo>div{
    position: absolute;
    width: 300px;
    margin-left: 140px;
    margin-top: -5px;
}

.bodyDowShowTwo>div>em{
    font-size: 30px;
    font-weight: 700;
    color: #0061a4;
    margin-left: 15px;
}

.bodyDowShowTwo>div>span{
    font-weight: 700;
    font-size: 18px;
}

.bodyDowShowTwo>div>p{
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}
/*body底部右侧*/
.bodyDowRight{
    position: absolute;
    width: 250px;
    height: 350px;
    margin-top: 688px;
    margin-left: 1240px;
}

.bodyDowRight img{
    width: 250px;
    margin-bottom: 35px;
}

/*第三个*/
.bodyDowShowThr{
    margin-top: 200px;
    position: absolute;
}

.bodyDowShowThr>img{
    position: absolute;
    width: 120px;
}

.bodyDowShowThr>div{
    position: absolute;
    width: 300px;
    margin-left: 140px;
    margin-top: -5px;
}

.bodyDowShowThr>div>em{
    font-size: 30px;
    font-weight: 700;
    color: #0061a4;
    margin-left: 15px;
}

.bodyDowShowThr>div>span{
    font-weight: 700;
    font-size: 18px;
}

.bodyDowShowThr>div>p{
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}
/*body底部右侧*/
.bodyDowRight{
    position: absolute;
    width: 250px;
    height: 350px;
    margin-top: 688px;
    margin-left: 1240px;
}

.bodyDowRight img{
    width: 250px;
    margin-bottom: 35px;
}
/*另一个body*/
/*文字div 1*/
.midBodyTextGuide{
    position: absolute;
    width: 1070px;
    height: 50px;
    margin-top: 1080px;
    margin-left: 420px;
    text-align: center;
}

.midBodyTextGuide>span{
    font-size: 36px;
    font-weight: 700;
}


/*图片向导*/
.midBodyGuide{
    position: absolute;
    width: 1250px;
    height: 360px;
    margin-top: 1150px;
    margin-left: 315px;
    text-align: center;
}

.midBodyGuideImg{
    float: left;
    margin-right: 20px;
    background-color: white;
    width: 230px;
    height: 360px;
}

/*文字div 2*/
.midBodyTextTalk{
    position: absolute;
    width: 1070px;
    height: 50px;
    margin-top: 1530px;
    margin-left: 420px;
    text-align: center;
}

.midBodyTextTalk>span{
    font-size: 36px;
    font-weight: 700;
}

/*图片交流*/
.midBodyTalk{
    position: absolute;
    width: 1250px;
    height: 292px;
    margin-top: 1600px;
    margin-left: 315px;
    text-align: center;
}

.midBodyTalkImg{
    float: left;
    margin-right: 20px;
    background-color: white;
    width: 292px;
    height: 292px;
}



/*foot*/
.foot{
    position: absolute;
    margin-top: 2000px;
    display: block;
    width: 1920px;
    height: 260px;
    background-color: #ececec;
}
.foot a{
    color: black;
}

.cooperate{
    display: block;
    width: 150px;
    height: 120px;
    position: absolute;
    margin-top: 30px;
    margin-left: 350px;
    border-right: rebeccapurple;
}

.cooperate>p>a{
    display: block;
    color: #C4C4C4;
    font-size: 12px;
    margin-bottom: 15px;
}

.cooperate>span>a{
    float: left;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.nml{
    margin-left: 0 !important;
}

.authority{
    margin-left: 600px !important;
}


.download{
    margin-left: 850px !important;
}

.friend{
    margin-left: 1050px !important;
}

.feedback{
    margin-left: 1250px !important;
}

.ico{
    position: absolute;
    margin-left: 1340px;
    margin-top: -50px;
    width: 325px;
    height: 240px;
    transform: scale(0.3);
    overflow: hidden;

}

.footLinkImg{
    position: absolute;
    display: block;
    margin-left: 787px;
    margin-top: 190px;
    text-align: center;
}

.footLinkImg img{
    width: 100px;
}

.footLinkImg p{
    font-size: 11px;
    color: #C4C4C4;
    margin-top: 3px;
}
