*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.first .bg{
    height: 950px;

    background: url("../images/1.jpg") no-repeat center/cover;
}

.second .bg{
    height: 950px;
    background: url("../images/2.jpg") no-repeat center/cover;
}

.third .bg{
    height: 950px;
    background: url("../images/3.jpg") no-repeat center/cover;
}

.fourth .bg{
    height: 950px;
    background: url("../images/4.jpg") no-repeat center/cover;
}

.fifth .bg{
    height: 950px;
    background: url("../images/5.jpg") no-repeat center/cover;
}